
.enter{
    transform: translateY(-100%);
}
.enterActive{
    transform: translateX(0);
    transition: all 250ms ease-in-out;
}
.exit{
    transform: translateX(0);
}
.exitActive{
    transform: translateY(-100%);
    opacity: 0;
    transition: all 250ms ease-in-out;
}
.error {
    display: block;
    width: 250px;
    height: 75px;
    background-color: aquamarine;
}